<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gr_b07">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".games.redeemRewards.rewardsPopUpActivity"
            android:theme="@style/AppTheme.popUpTheme">
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".games.redeemRewards.RedeemActivity" />
        <activity android:name=".games.ChanceActivity" />
        <activity android:name=".games.ChestActivity" />
        <activity android:name=".games.ScratchCardActivity" />
        <activity android:name=".games.SlotMachineActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".nutrition.AbstractMealActivity" />
        <activity android:name=".nutrition.SnacksActivity" />
        <activity android:name=".nutrition.DinnerActivity" />
        <activity android:name=".nutrition.LunchActivity" />
        <activity android:name=".nutrition.BreakfastActivity" />
        <activity android:name=".InputDataActivity" />
        <activity android:name=".RewardsActivity" />
        <activity android:name=".SocialActivity" />
        <activity android:name=".ActivityActivity" />
        <activity android:name=".NutritionActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>