<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gr_b07">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".social.ScanQRPopUpActivity"
            android:theme="@style/AppTheme.popUpTheme" />
        <activity
            android:name=".social.SeeQRCodePopUpActivity"
            android:theme="@style/AppTheme.popUpTheme" />
        <activity
            android:name=".social.AddActivityPopUpActivity"
            android:theme="@style/AppTheme.popUpTheme" />
        <activity
            android:name=".nutrition.MealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".statistics.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".games.redeemRewards.RedeemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".games.redeemRewards.RewardsPopUpActivity"
            android:theme="@style/AppTheme.popUpTheme"/>
        <activity android:name=".games.ChanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".games.ChestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".games.ScratchCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".games.SlotMachineActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".games.GameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.AbstractMealActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.SnacksActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.DinnerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.LunchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.BreakfastActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InputDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".RewardsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".social.SocialActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".nutrition.NutritionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>